<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Winku Social Network Toolkit</title>
    <link rel="icon" href="/static/images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="/static/main/css/main.min.css">
    <link rel="stylesheet" href="/static/main/css/style.css">
    <link rel="stylesheet" href="/static/main/css/color.css">
    <link rel="stylesheet" href="/static/main/css/responsive.css">
</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Winku</h1>
						<p>
							Winku is free to use for as long as you want with two active projects.
						</p>
						<div class="friend-logo">
							<span><img src="images/wink.png" alt=""></span>
						</div>
						<a href="#" title="" class="folow-me">Follow Us on</a>
					</div>	
				</div>
			</div> -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Login</h2>
							<p>
								Don’t use Connect Yet? <a href="#" class="no-acct" title="">Join now</a>
							</p>
							{% if error %}
								<p class="error" style="color: red;">
									{{ error }}
								</p>
							{% endif %}
						<form method="post" action="{% url 'pre_login' %}">
							{% csrf_token %}
							<div class="form-group">	
							  <input type="email" id="input" name="email" required="required"/>
							  <label class="control-label" for="input">Email</label><i class="mtrl-select"></i>
							</div>
							<div class="checkbox">
							  <label>
								<input type="checkbox" checked="checked" name="remember-me" /><i class="check-box"></i>Always Remember Me.
							  </label>
							</div>
							<div class="submit-btns">
								<button class="mtr-btn signin" type="submit"><span>Login</span></button>
							</div>
						</form>
					</div>
					<div class="log-reg-area reg">
						<h2 class="log-title">Register</h2>
						{% if error %}
							<p class="error" style="color: red;">
								{{ error }}
							</p>
						{% endif %}
						<form method="post" action="{% url 'send_login_email' %}">
							{% csrf_token %}
							<div class="form-group">	
							  <input type="text" name="username" required="required"/>
							  <label class="control-label" for="input">User Name</label><i class="mtrl-select"></i>
							</div>
                            <div class="form-group">
                                <input type="email" name="email" required>
                                <label class="control-label" for="input">Email</label><i class="mtrl-select"></i>
                            </div>
							<!-- <div class="checkbox">
							  <label>
								<input type="checkbox" checked="checked"/><i class="check-box"></i>Accept Terms & Conditions ?
							  </label>
							</div> -->
							<a href="#" title="" class="already-have">Already have an account?</a>
							<div class="submit-btns">
								<button class="mtr-btn signup" type="submit"><span>Register</span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/static/main/js/main.min.js"></script>
	<script src="/static/main/js/script.js"></script>

</body>	

</html>